<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"
  />
  <meta name="author" content="touchPal" />
  <meta content="black" name="apple-mobile-web-app-status-bar-style" />
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta property="article:author" content="touchPal" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="@og:title" />
  <meta property="og:description" content="@og:description" />
  <meta property="og:image" content="@og:image" />
  <meta name="twitter:card" content="summary" />
  <title></title>
  <link rel="stylesheet" href="./styles/main.css" />
</head>

<body>

  <div class="container">
    <img src="./images/title.webp" class="title">
    <div class="content">
      <div class="box">
        <img class="inner" data-id="keyboard_theme_golden_rose" src="./images/skin.webp">
      </div>
    </div>
    <div class="btn-group">
      <div class="btn btn-update"></div>
      <div class="btn btn-more"></div>
      <div class="btn btn-share"></div>
    </div>
  </div>
  <script src="./scripts/main.bundle.js"></script>
  <script async src="//www.google-analytics.com/analytics.js"></script>
</body>

</html>